.ArrowWrapper{
    background: rgba(32,32,32,0.5);
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  
    .ArrowWrapper svg:focus {
      outline: 0;
    }
    .ArrowWrapper:hover {
      transition: 250ms linear;
      transform: scale(1.1);
    }